.books-section {
    padding: 60px 7%;
    background-color: rgb(239, 246, 253);
}
.book-search {
    max-width: 600px;
    margin: 0 auto 40px;
    display: flex;
}

.book-search input {
    width: 100%;
    padding: 14px 18px;
    border: 1px solid #cbd5e1;
    border-right: none;
    border-radius: 6px 0 0 6px;
    font-size: 15px;
}

.book-search button {
    width: 55px;
    border: none;
    border-radius: 0 6px 6px 0;
    background-color: rgb(29, 78, 216);
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.book-search input:focus {
    outline: none;
    border-color: rgb(29, 78, 216);
}
.books-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.book-card {
    background: rgb(255, 255, 255);
    border-radius: 12px;
}

.book-card img {
    width: 100%;
    height: 280px;
    display: block;
    object-fit: cover;
}

.book-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 16px;
    background: rgb(255, 255, 255);
}

.price {
    font-size: 20px;
    font-weight: 700;
    color: rgb(23, 43, 77);
}

.buy-btn {
    display: inline-block;
    padding: 9px 20px;
    background: rgb(23, 43, 77);
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 7px;
    font-size: 14px;
    font-weight: 600;
}

.buy-btn:hover {
    background: rgb(41, 70, 111);
}


@media (max-width: 1000px) {
.books-grid {
    grid-template-columns: repeat(3, 1fr);
}
}

@media (max-width: 700px) {
.books-grid {
    grid-template-columns: repeat(2, 1fr);
gap: 15px;
}

.book-card img {
    height: 230px;
}

.book-bottom {
    padding: 12px;
}

.price {
    font-size: 17px;
}

.buy-btn {
    padding: 8px 14px;
    font-size: 13px;
}
}

@media (max-width: 450px) {
.books-grid {
    grid-template-columns: 1fr;
}

.book-card img {
    height: 320px;
}
}